
.App{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card-body.countries{
  display: flex;
}

.title{
  font-size: 85px;
  color: black;
  animation: girarTitulo 2s;
}

@keyframes girarTitulo {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg)
  }
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
}

@media (max-width: 620px){
  .title{
    font-size: 30px;
  }

  .main{
    width: 80%;
    min-height: 250px;
  }
}